
<div id="links_sended_form">
	<ul>
		<li><a href="{{ path('md_theme_create') }}" class="after_form_link">Ajouter un nouveau thème</a></li>
		<li><a href="{{ path('md_theme_edit', {'theme_id': theme.id}) }}" class="after_form_link">Éditer le nouveau thème</a></li>
		<li><a href="{{ path('md_theme_view', {'theme_id': theme.id}) }}" class="after_form_link">Voir le thème</a></li>
		<li><a href="{{ path('md_theme_batch') }}" class="after_form_link">Liste des thèmes</a></li>
	</ul>
</div>
