{# Must be included in the core bundle #}

{% block title %}
Suppression game
{% endblock %}

{% block body %}
    {% if form is defined %}
        <h2>Suppression game</h2>
        <p>Voulez-vous supprimer TODO mettre title/name/etc.</p>
        <form action="{{ path('md_game_delete', {'game_id': game.id}) }}" method="post">
            <a href="{{ path('md_game_view', {'game_id': game.id}) }}">Retour vers game</a>
            <input type="submit" value="Supprimer" />
            {{ form(form) }}
        </form>
    {% else %}

    {% endif %}
{% endblock %}
