{% block title %}
Suppression news
{% endblock %}

{% block body %}
{% if form is defined %}
<h2>Suppression d'une news</h2>

<p>Voulez-vous supprimer la news {{ news.title }}?</p>

<form action="{{ path('md_core_news_delete', {'id': news.id}) }}" method="post">
    <a href="{{ path('md_core_news_view', {'id': news.id}) }}">Retour à la news</a>
    <input type="submit" value="Supprimer" />
    {{ form(form) }}
</form>

{% else %}
<p>News Supprimée</p>
{% endif %}
{% endblock %}
