<div id="confirm_form">
	<h3>Confirmation</h3>
	<form action="{{ path('md_management_create_directory', {'currentDir': currentDir, 'directory': directory}) }}" method="post">
	<a href="" id="cancel">Annuler</a>
	<input type="submit" id="submit" value="créer le dossier">
	{{ form(form) }}
	</form>
</div>
