<div id="confirm_form">
	<h3>Confirmation</h3>
	<form action="" method="post">
	<a href="" id="cancel">Annuler</a>
	{{ form(form) }}
	<input type="submit" id="submit_delete" value="supprimer">
	</form>
</div>