<div id="confirm_form">
	<h3>Confirmation new name directory</h3>
	<form action="" method="post">
	{{ form(form) }}
	<a href="" id="cancel">Annuler</a>
	<input type="submit" id="submit" value="confirmer le nouveau nom">
	</form>
</div>