{% extends '::layoutbackend.html.twig' %}

{% block stylesheet %}
{{ parent() }}
<link href="{{ asset('bundles/mdtags/css/form.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block main %}
<div id="content">
<h1>Formulaire d'enregistrement</h1>

{% if form is defined %}
    {{ include("MDTagsBundle:Tag:form.html.twig") }}
{% endif %}

{% if tag is defined %}
    <p>TODO</p>
{% endif %}
</div>
{% endblock %}
