{% extends "MDCoreBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Developer</h1>
    <p>
        <ul>
            {% for developer in listDeveloper %}
                <li><a href="{{ path('md_core_developer_view', {'id': developer.id}) }}"></a></li>
            {% endfor %}
        </ul>
    </p>
    <p>
        {% for page in pages %}
            <li><a href="{{ path('md_core_developer_viewbatch', {'batch': batch_developer, 'page': page}) }}">{{ page }}</a></li>
        {% endfor %}
    </p>
{% endblock %}
