{% extends "MDCoreBundle::layout.html.twig %}

(block title %}{% endblock %}

{% block body %}
    {{ render(controller("MDGameBundle:Game:delete", {'id': id})) }}
    <a href="{{ path('md_core_game:view, {'id': id}) }}">Retour vers game</a><br />
{% endblock %}
