{% extends "MDCoreBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    {{ render(controller("MDGameBundle:Game:view", {'game_id': id})) }}
    <p>
    <a href="{{ path('md_core_home') }}">Retour aux game</a><br />
    <a href="{{ path('md_core_game_game_edit', {'id': id}) }}">Modifier</a><br />
    <a href="{{ path('md_core_game_game_delete', {'id': id}) }}">Supprimer</a><br />
    </p>
{% endblock %}
