{% extends "MDCoreBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Game</h1>
    <p>
        <ul>
            {% for game in listGame %}
                <li><a href="{{ path('md_core_game_game_view', {'id': game.id}) }}">{{ game.name }}</a></li>
            {% endfor %}
        </ul>
    </p>
    <p>
        {% for page in pages %}
            <li><a href="{{ path('md_core_game_game_viewbatch', {'batch': batch_game, 'page': page}) }}">{{ page }}</a></li>
        {% endfor %}
    </p>
{% endblock %}
