{% extends "::layoutbackend.html.twig" %}

{% block title %}Accueil profil utilisateur{% endblock %}

{% block stylesheet %}{{ parent() }}
<link href="{{ asset('bundles/mdcore/css/main_body_admin_home.css') }}" type="text/css" rel="stylesheet">{% endblock %}

{% block fixed_design %}

	{{ parent() }}
		<div id="content">
			<div id="user_infos">
				<h2>DRQUINCH</h2>
				<ul id="info_title_admin">
					<li>Articles : 100</li>
					<li>Tests : 10</li>
					<li>News : 94</li>
					<li>Previews : 150</li>
					<li>Dossier : 9</li>
					<li>Commentaires : 142</li>
					<li>adresse mail : doryn.mirek@striptease-ludique.com</li>
				</ul>
			</div>
			<div id="last_articles">
				<h2>DERNIERS ARTICLES</h2>
				<ul>
					<li><a href=""><img src="" alt="" /><span class="name_article">NEWS Titre news</span></a></li>
					<li><a href=""><img src="" alt="" /><span class="name_article">TEST Titre test</span></a></li>
					<li><a href=""><img src="" alt="" /><span class="name_article">ARTICLE Titre article</span></a></li>
					<li><a href=""><img src="" alt="" /><span class="name_article">NEWS Titre news</span></a></li>
					<li><a href=""><img src="" alt="" /><span class="name_article">DOSSIER Titre dossier</span></a></li>
					<li><a href=""><img src="" alt="" /><span class="name_article">NEWS Titre news</span></a></li>
					<li><a href=""><img src="" alt="" /><span class="name_article">NEWS Titre news</span></a></li>
					<li><a href=""><img src="" alt="" /><span class="name_article">NEWS Titre news</span></a></li>
					<li><a href=""><img src="" alt="" /><span class="name_article">NEWS Titre news</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clear"></div>

{% endblock %}
