
<div id="links_sended_form">
	<ul>
		<li><a href="{{ path('md_plateforme_create') }}" class="after_form_link">Ajouter une nouvelle plateforme</a></li>
		<li><a href="{{ path('md_plateforme_edit', {'plateforme_id': plateforme.id}) }}" class="after_form_link">Éditer la nouvelle plateforme</a></li>
		<li><a href="{{ path('md_plateforme_view', {'plateforme_id': plateforme.id}) }}" class="after_form_link">Voir la plateforme</a></li>
		<li><a href="{{ path('md_plateforme_batch') }}" class="after_form_link">Liste des plateformes</a></li>
	</ul>
</div>
