{% extends "::layout.html.twig" %}

{% block title %}{{parent()}}{% endblock %}

{% block stylesheet %}<link href="{{ asset('bundles/mdcore/css/about.css') }}" type="text/css" rel="stylesheet" />{% endblock %}

{% block fixed_design %}

<div id="about_main">

	<h1 class="entry-title">À Propos</h1>

	<p>Vous avez déjà dû pondre une lettre de motivation? Ou répondre à cette question absconse: Pouvez-vous vous présenter? Je déteste ça, mais vu que <strong>je vous aime déjà même si on ne se connait pas encore,</strong> je vais m'appliquer à cet exercice pour le moins périlleux.</p>
	<p><strong>Née dans les 90's, en plein explosion de la 3D,</strong> le DrQuinch adore parler de lui à la 3ème personne. Ca donne un côté badass motherfucker selon lui-même, un côté attardé selon d'autres (osez me le dire en face bande de naze :o). <strong>Outcast, Oddworld ou encore Syphon Filter</strong> ont bercé mes premières années de gamer. Et si je reprends la première personne, c&rsquo;est tout simplement que les FPS me sied encore mieux. J&rsquo;ai connu<strong> Half-Life,</strong> et surtout son mod <strong>Counter-Strike,</strong> et je suis tombé amoureux de <strong>Myst</strong> pour l'ambiance unique et l'aura de mystère qui l'anime.</p>
	<p>Vous trouverez donc sur ce blog <strong>de l&rsquo;action bien grasse sous forme de fps ou tps,</strong> mais aussi <strong>de l&rsquo;aventure,</strong> que ce soit <strong>orienté rpg/hack'n slash</strong> ou plutôt exploration façon <strong>point and click.</strong> Bref, ceci est un blog et vu qu'il n'a pas d'intérêt à être exhaustif de toutes les sorties du moment, je compte bien me faire plaisir et <strong>vous parler, en toute subjectivité, des jeux qui me passionnent.</strong></p>
	<p>Bien que le jeux-vidéo prendra une place prépondérante sur ce site, vous retrouverez ponctuellement des articles concernant <strong>des livres ou des films (science-fiction, horreur et fantastique surtout),</strong> ainsi que <strong>des jeux de plateau ou de carte</strong> pour animer vos soirées entre potes.</p>
	<p>Ce petit côté bordel a donc inspiré le nom du blog. Et ce n'est pas plus mal, car, même si vous y trouverez des tests et critiques plus classiques,<strong> on mettra certains jeux à nu pour mieux appréhender ces mécaniques</strong> et en quoi elles sont intéressantes, <strong>tant au point de vue ludique, qu'au point de vue psychologique.</strong></p>
	<p>Voilà, tout me semble avoir été dit. Si vous voulez me contacter vous trouverez toutes les infos utiles sur la page de contact. Bonne lecture et bonne visite sur <strong><a href="http://striptease-ludique.com">striptease-ludique.com</a>.</strong> ??</p>
	<p>PS: vous pouvez me retrouver sur steam (et notamment sur CSGO) <a href="http://steamcommunity.com/id/drquinch/">ici</a>.</p>

</div>

{% endblock %}