#content
{
height: 100%;
margin-left: 250px;
background-color: rgb(230,230,230);
font-weight: bold;
color: rgb(10,10,10);
padding-top: 10px;
padding-left: 20px;
}

#content a
{
color: rgb(10,10,10);
}
