{% extends "MDCoreBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    {{ render(controller("MDGameBundle:Licence:edit", {'id': id})) }}
    <a href="{{ path('md_core_licence_view, {'id': id}) }}">Retour vers licence</a><br /> 
{% endblock %}
