{% extends "MDCoreBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    {{ render(controller("MDGameBundle:Licence:view", {'id': id})) }}
    <p>
    <a href="{{ path('md_core_home') }}">Retour aux licence</a><br />
    <a href="{{ path('md_core_licence_edit') }}">Modifier</a><br />
    <a href="{{ path('md_core_licence_delete') }}">Supprimer</a><br />
    </p>
{% endblock %}
