
<div id="links_sended_form">
	<ul>
		<li><a href="{{ path('md_genre_create') }}" class="after_form_link">Ajouter un nouveau genre</a></li>
		<li><a href="{{ path('md_genre_edit', {'genre_id': genre.id}) }}" class="after_form_link">Éditer la nouvelle fiche du genre</a></li>
		<li><a href="{{ path('md_genre_view', {'genre_id': genre.id}) }}" class="after_form_link">Voir la fiche du genre</a></li>
		<li><a href="{{ path('md_genre_batch') }}" class="after_form_link">Liste des genres</a></li>
	</ul>
</div>
