{% extends "MDCoreBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Theme</h1>
    <p>
        <ul>
            {% for theme in listTheme %}
                <li><a href="{{ path('md_core_theme_view', {'id': theme.id}) }}"></a></li>
            {% endfor %}
        </ul>
    </p>
    <p>
        {% for page in pages %}
            <li><a href="{{ path('md_core_theme_viewbatch', {'batch': batch_theme, 'page': page}) }}">{{ page }}</a></li>
        {% endfor %}
    </p>
{% endblock %}
