{# Must be included in the core bundle #}

{% block title %}
Suppression developer
{% endblock %}

{% block body %}
    {% if form is defined %}
        <h2>Suppression developer</h2>
        <p>Voulez-vous supprimer TODO mettre title/name/etc.</p>
        <form action="{{ path('md_developer_delete', {'developer_id': developer.id}) }}" method="post">
            <a href="{{ path('md_developer_view', {'developer_id': developer.id}) }}">Retour vers developer</a>
            <input type="submit" value="Supprimer" />
            {{ form(form) }}
        </form>
    {% else %}

    {% endif %}
{% endblock %}
