{% extends "MDCoreBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Publisher</h1>
    <p>
        <ul>
            {% for publisher in listPublisher %}
                <li><a href="{{ path('md_core_publisher_view', {'id': publisher.id}) }}"></a></li>
            {% endfor %}
        </ul>
    </p>
    <p>
        {% for page in pages %}
            <li><a href="{{ path('md_core_publisher_viewbatch', {'batch': batch_publisher, 'page': page}) }}">{{ page }}</a></li>
        {% endfor %}
    </p>
{% endblock %}
