{# Must be included in the core bundle #}

<h1>Formulaire d'enregistrement</h1>

{% if form is defined %}
    {{ include("MDGameBundle:Publisher:form.html.twig") }}
{% endif %}

{% if publisher is defined %}
    <p>TODO</p>
{% endif %}
