{# Must be included in the core bundle #}

{% block title %}
Suppression publisher
{% endblock %}

{% block body %}
    {% if form is defined %}
        <h2>Suppression publisher</h2>
        <p>Voulez-vous supprimer TODO mettre title/name/etc.</p>
        <form action="{{ path('md_core_publisher_delete', {'id': {ctrlname,,}.id}) }}" method="post">
            <a href="{{ path('md_core_publisher_view', {'id': publisher.id}) }}">Retour vers publisher</a>
            <input type="submit" value="Supprimer" />
            {{ form(form) }}
        </form>
    {% else %}

    {% endif %}
{% endblock %}
