
<div id="links_sended_form">
	<ul>
		<li><a href="{{ path('md_publisher_create') }}" class="after_form_link">Ajouter un nouvel éditeur</a></li>
		<li><a href="{{ path('md_publisher_edit', {'publisher_id': publisher.id}) }}" class="after_form_link">Éditer le nouvel éditeur</a></li>
		<li><a href="{{ path('md_publisher_view', {'publisher_id': publisher.id}) }}" class="after_form_link">Voir l'éditeur</a></li>
		<li><a href="{{ path('md_publisher_batch') }}" class="after_form_link">Liste des éditeurs</a></li>
	</ul>
</div>
