{% extends "MDCoreBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Plateforme</h1>
    <p>
        <ul>
            {% for plateforme in listPlateforme %}
                <li><a href="{{ path('md_core_plateforme_view', {'id': plateforme.id}) }}"></a></li>
            {% endfor %}
        </ul>
    </p>
    <p>
        {% for page in pages %}
            <li><a href="{{ path('md_core_plateforme_viewbatch', {'batch': batch_plateforme, 'page': page}) }}">{{ page }}</a></li>
        {% endfor %}
    </p>
{% endblock %}
