#bottom
{
clear: both;
background-color: rgb(20,20,20);
width: 100%;
}

#left_bottom
{
padding: 20px;
}

#left_bottom a
{
color: rgb(240,240,240);
}

#left_bottom a:hover
{
color: rgb(0,125,255);
}

#logo_square
{
width: 150px;
height: 150px;
float: left;
margin-bottom: 20px;
margin-right: 20px;
border: 0px;
font-size: 14px;
}

#link_website_bottom
{
font-weight: bold;
font-size: 20px;
display: block;
margin-bottom: 70px;
}

@media all and (min-width: 720px)
{
	#bottom
	{
		width: 100%;
	}
}

@media all and (max-width: 720px)
{
	
	#bottom
	{
		width: 720px;
	}
}