*
{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

html
{
height: 100%;
}

body
{	
font-family: "Open Sans", Arial;
background-color: rgb(215,215,215);
color: rgb(30,30,30);
height: 100%;
}

ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}

a
{
text-decoration: none;
}

.clear
{
clear: both;
}

#fixed_design
{
background-color: rgb(225,225,225);
margin: auto;
/*padding-top: 30px;*/
}

@media all and (min-width: 1024px)
{
	#fixed_design
	{
		width: 1024px;
	}
}

@media all and (max-width: 1024px)
{
	#fixed_design
	{
		width: 100%;
	}
}

@media all and (max-width: 720px)
{
	#fixed_design
	{
		width: 720px;
	}
}