
<div id="links_sended_form">
	<ul>
		<li><a href="{{ path('md_market_create') }}" class="after_form_link">Ajouter une nouvelle distribution</a></li>
		<li><a href="{{ path('md_market_edit', {'market_id': market.id}) }}" class="after_form_link">Éditer la nouvelle distribution</a></li>
		<li><a href="{{ path('md_market_view', {'market_id': market.id}) }}" class="after_form_link">Voir la distribution</a></li>
		<li><a href="{{ path('md_market_batch') }}" class="after_form_link">Liste des distributions</a></li>
	</ul>
</div>
