
<div id="links_sended_form">
	<ul>
		<li><a href="{{ path('md_licence_create') }}" class="after_form_link">Ajouter une nouvelle licence</a></li>
		<li><a href="{{ path('md_licence_edit', {'licence_id': licence.id}) }}" class="after_form_link">Éditer la nouvelle Licence</a></li>
		<li><a href="{{ path('md_licence_view', {'licence_id': licence.id}) }}" class="after_form_link">Voir la Licence</a></li>
		<li><a href="{{ path('md_licence_batch') }}" class="after_form_link">Liste des licences</a></li>
	</ul>
</div>
