{% extends '::layoutbackend.html.twig' %}

{% block title %}
Suppression image
{% endblock %}

{% block main %}
    {% if form is defined %}
        <h2>Suppression image</h2>
        <p>Voulez-vous supprimer TODO mettre title/name/etc.</p>
        <form action="{{ path('md_image_delete', {'image_id': image.id}) }}" method="post">
            <a href="{{ path('md_image_view', {'image_id': image.id}) }}">Retour vers image</a>
            <input type="submit" value="Supprimer" />
            {{ form(form) }}
        </form>
    {% else %}

    {% endif %}
{% endblock %}
