{% extends '::layoutbackend.html.twig' %}

{% block main %}
{% if form is defined %}
    {{ include("MDMediaBundle:Image:form.html.twig") }}
{% endif %}

{% if image is defined %}
    <p>TODO</p>
{% endif %}
{% endblock %}
