#main
{
	width: 100%;
}

a
{
color: rgb(20,20,20);
}

a:visited
{
color: rgb(20,20,20);
}

.article a
{
display: block;
}

.article a:hover
{
color: rgb(20,20,20);
}

.article_bgn
{
display: flex;
position: absolute;
font-size: 18px;
font-weight: bold;
background-color: rgba(250,250,250,0.8);
}

.article_title
{
display: block;
transition: height 0.1s, width 0.1s, font-size 0.2s, margin 0.1s;
}

.link
{
border: 0px solid white;
box-shadow: 0 0 0 rgb(20,20,20);
transition: height 0.5s, width 0.5s, border 0.5s, box-shadow 0.5s, margin 0.5s;
}

.link img
{
vertical-align: bottom;
transition: width 0.5s, height 0.5s;
}

.link .article_bgn
{
transition: margin 0.5s, height 0.5s, width 0.5s;
}

@media all and (min-width: 1024px)
{
	.link
	{
		width: 1024px;
		height: 256px;
	}
	
	.link img
	{
		width: 1024px;
		height: 256px;
	}
	
	.article_bgn
	{
		width: 1014px;
		padding: 5px;
	}
	
	.article_title
	{
		width: 979px;
		font-size: 1em;
	}

	.link:hover
	{
		border: 10px solid white;
		margin: 10px;
		width: 984px;
		height: 216px;
		box-shadow: 0px 0px 5px rgb(20,20,20);
	}

	.link:hover img
	{
		width: 984px;
		height: 216px;
	}

	.link:hover .article_bgn
	{
		width: 984px;
		height: 206px;
	}

	.link:hover .article_title
	{
		width: 350px;
		margin: auto;
		font-size: 1.2em;
		text-align: center;
	}

}

@media all and (max-width: 1024px)
{
	.link
	{
		width: 100%;
	}
	
	.link img
	{
		width: 100%;
	}
	
	.article_bgn
	{
		width: 99.5%;
		padding: 0.5%;
	}
	
	.article_title
	{
		width: 95.6%;
		font-size: 1.2em;
	}

	.link:hover
	{
		border: 10px solid white;
		margin: 10px;
		width: 95%;
		box-shadow: 0px 0px 5px rgb(20,20,20);
	}

	.link:hover img
	{
		width: 100%;
	}

	.link:hover .article_bgn
	{
		width: 95%;
	}

	.link:hover .article_title
	{
		width: 35%;
		margin: auto;
		font-size: 1.2em;
		text-align: center;
	}
}

@media all and (max-width: 720px)
{
	.link
	{
		width: 720px;
		height: 180px;
	}
	
	.link img
	{
		width: 720px;
		height: 180px;
	}
	
	.article_bgn
	{
		width: 710px;
		padding: 5px;
	}
	
	.article_title
	{
		width: 688px;
		font-size: 1.2em;
	}

	.link:hover
	{
		border: 10px solid white;
		margin: 10px;
		width: 692px;
		height: 152px;
		box-shadow: 0px 0px 5px rgb(20,20,20);
	}

	.link:hover img
	{
		width: 692px;
		height: 152px;
	}

	.link:hover .article_bgn
	{
		width: 692px;
		height: 145px;
	}

	.link:hover .article_title
	{
		width: 350px;
		margin: auto;
		font-size: 1.2em;
		text-align: center;
	}

}
