<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{%endblock %}
</head>
<body>
<div id="body">
{# TODO bar du dessus / menu droit admin #}
	{% block body %}{% endblock %}

</div>
</body>
</html>
