{% extends "MDCoreBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    {{ render(controller("MDGameBundle:Genre:view", {'id': id})) }}
    <p>
    <a href="{{ path('md_core_home') }}">Retour aux genre</a><br />
    <a href="{{ path('md_core_genre_edit') }}">Modifier</a><br />
    <a href="{{ path('md_core_genre_delete') }}">Supprimer</a><br />
    </p>
{% endblock %}
