{% extends "MDCoreBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Genre</h1>
    <p>
        <ul>
            {% for genre in listGenre %}
                <li><a href="{{ path('md_core_genre_view', {'id': genre.id}) }}"></a></li>
            {% endfor %}
        </ul>
    </p>
    <p>
        {% for page in pages %}
            <li><a href="{{ path('md_core_genre_viewbatch', {'batch': batch_genre, 'page': page}) }}">{{ page }}</a></li>
        {% endfor %}
    </p>
{% endblock %}
